.user-online-2 {
    position: relative;
}

.user-online-2::after {
    position: absolute;
    content: "";
    bottom: 7px;
    right: 7px;
    height: 13px;
    width: 13px;
    border: 2px solid #faf2fa;
    border-radius: 50%;
    background-color: rgb(9, 179, 9);
}

.like-com-hover:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 0.22rem;
}

.round-hover:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.line-height-1 {
    line-height: 12px;
}