.scroll-section {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-section::-webkit-scrollbar {
    width: 0px;
}

.scroll-section::-webkit-scrollbar-track {
    background: #f0f2f5;
}

.scroll-section::-webkit-scrollbar-thumb:hover {
    border-radius: 1rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}